<div class="answer {% if answer.is_accepted %}accepted{% endif %}" id="answer-{{ answer.id }}">

  <div class="answer_info">
    {% if answer.author.profile.image_url %}
      <img src="{{ answer.author.profile.image_url }}" alt="profile_img">
    {% else %}
      <img src="media/profiles/default.png" alt="profile_img">
    {% endif %}
    {% if answer.author != user %}
      {% include 'myapp/voting_answer.html' with object=answer object_type='answer' current_vote=answer.get_user_vote user=user %}
    {% endif %}
  </div>

    <div class="answer_content">
      <div class="answer_text">{{answer.content}}</div>
      <div class="answer_result">
        {% if user == question.author %}
          {% include 'myapp/accept_answer.html' with answer=answer %}
        {% endif %}
      </div>
    </div>

</div>