<div class="question">

  <div class="question_info">
    <img src="{{ question.author.profile.image_url }}" alt="profile_img">
    {% include 'myapp/voting_question.html' with object=question object_type='question' current_vote=question.get_user_vote user=user %}
  </div>

  <div class="question_content">
    <a href="{% url 'question_detail' question.id %}" class="question_title">{{ question.title }}</a>
    <div class="question_text"> {{ question.content }} </div>
    <div class="question_tags">
      <a href="{% url 'question_detail' question.id %}">answers ({{ question.answers.count }})</a>
      <span>
        Tags:
        {% for tag in question.tags.all %}
          <a href="{% url 'tag_questions' tag.id %}">{{ tag.name }}</a>
        {% empty %}
          <span>no tags</span>
        {% endfor %}
      </span>
    </div>
  </div>

</div>